{% extends "base/base.html" %}


{% block title %} Detalle {% endblock %}

{% block content %}

<div class="container mt-7">
    <div class="card mb-3 detail1">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ book.cover_image.url }}" class="card-img" alt="...">
            </div>
            <div class="col-md-8 detail2">
                <div class="card-body">
                    <h3 class="card-title detail3">{{ book.title }}</h3>
                    <h4 class="card-title detail4">Autor: <strong>{{ book.author }}</strong></h4>
                    <p class="card-text detail5">{{ book.summary }}.</p>
                </div>
                <br><br>
                <div class="text-center buttonpdf">
                    <a href = '{{ book.pdf.url }}' download="{{ book.pdf.url }}">
                        <button id = 'download'>
                            Descarga PDF
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                            </svg>
                        </button>
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>


    <div class = 'container'>
        <div class = 'row'>
            <h4 class="color1">Libros Similares</h4>
        </div>
        <div class = 'row'>

            {% for similar_book in similar_books %}
                <div class = 'col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2'>
                    <a href = "{% url 'book:book_detail' similar_book.id %}">
                        <div>
                            <div class="uk-card uk-card-default uk-card-body">
                                <img src = "{{ similar_book.cover_image.url }}">
                            </div>
                            <!-- <p>{{similar_book.}}</p> -->
                        </div>
                    </a>
                </div>
           {% endfor %}
        </div>

    </div>

{% endblock %}

