{% extends "base/base.html" %}


{% block title %}Login{% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'login-style/fonts/material-icon/css/material-design-iconic-font.min.css'%} ">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'login-style/css/style.css' %}  ">
{% endblock %}
{% block content %}
    <div class="row">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'login-style/images/signin-image.jpg'%}" alt="sing up image"></figure>
                    </div>
                    <div class="signin-form">
                        <div class="social-login">
<!--                            <span class="social-label">Inicie sesión con</span>-->
                            <ul class="socials">
                                <li><a href="{% url 'social:begin' 'github' %}"><i class="display-flex-center zmdi zmdi-github"></i></a></li>
                                <li><a href="{% url 'social:begin' 'facebook' %}"><i class="display-flex-center zmdi zmdi-linkedin"></i></a></li>
                                <li><a href="{% url 'social:begin' 'google-oauth2' %}"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>

                        </div>
                        <h2 class="form-title">Ingresar</h2>

                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button class="close" type="button" data-dismiss="alert" aria-hidden="true">X</button>
                                    <h5><i class="icon fas fa-ban"></i>Error! revise su usuario o contraseña</h5>
                                    <ul>
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
<!--                                <input type="text" name="your_name" id="your_name" placeholder="Your Name"/>-->
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
<!--                                <input type="password" name="your_pass" id="your_pass" placeholder="Password"/>-->
                                {{ form.password }}

                            </div>

                            <div id = 'haveAnAccount'>

                                    <p>Aún no tienes una cuenta?</p>
                                    <a href = "{% url 'login:register'%}"><strong>Registrate</strong></a>
                                </div><div class="form-group">
                                <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
<!--                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>-->
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Ingresar"/>
                            </div>
                        </form>
<!--                        <div class="social-login">-->
<!--                            <span class="social-label">Inicie sesión con</span>-->
<!--                            <ul class="socials">-->
<!--                                <li><a href="{% url 'social:begin' 'github' %}"><i class="display-flex-center zmdi zmdi-github"></i></a></li>-->
<!--                                <li><a href="{% url 'social:begin' 'facebook' %}"><i class="display-flex-center zmdi zmdi-linkedin"></i></a></li>-->
<!--                                <li><a href="{% url 'social:begin' 'google-oauth2' %}"><i class="display-flex-center zmdi zmdi-google"></i></a></li>-->
<!--                            </ul>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
